Django==2.2.13
django-material==1.2.5
djangorestframework==3.8.2
regex==2017.4.5
reportlab==3.4.0
requests==2.18.4
requests-unixsocket==0.1.5
SecretStorage==2.3.1
simplejson==3.13.2
urllib3==1.22
whitenoise==4.1.1
gunicorn==19.1.1
dj-database-url==0.3.0
chatterbot==0.8.7
SpeechRecognition==3.8.1
psycopg2